<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinanceDB"
			 connectionString="Server=10.18.249.136;Database=BD_Finance_v1;User Id=admin;Password=812876;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>